<div class="container">
  <div style="display: flex">
    <div class="img"></div>
    <div class="img2"></div>
    <div class="img3"></div>
  </div>
  <hr />
  <div class="opa" id="overlay">
    <input
      [(ngModel)]="filterPoke"
      style="
        height: 2.5rem;
        width: 35rem;
        margin-right: 10px;
        border: 2px solid black;
        border-radius: 10px;
      "
      pInputText
      placeholder="Digite o nome do pekémon "
    />
    <p-button
      (onClick)="allPoke()"
      label="Buscar"
      styleClass="p-button-secondary"
    ></p-button>
  </div>

  <div class="cards">
    <p-card
      *ngFor="let pokemon of allPokemons"
      [title]="pokemon.name"
      (click)="selectPokemon(pokemon)"
    >
      <div>
        <img [src]="pokemon.sprites.front_default" alt="" />
      </div>
    </p-card>
  </div>
  <div class="pokedex" *ngIf="showPokemon">
    <div class="imag">
      <img [src]="selectedPokemon.sprites.front_default" alt="" />
    </div>
  </div>
</div>
